name: sass_api
# Note: Every time we add a new Sass AST node, we need to bump the *major*
# version because it's a breaking change for anyone who's implementing the
# visitor interface(s).
version: 12.0.2
description: Additional APIs for Dart Sass.
homepage: https://github.com/sass/dart-sass

environment:
  sdk: ">=3.0.0 <4.0.0"

dependencies:
  sass: 1.79.2

dev_dependencies:
  dartdoc: ^8.0.14

dependency_overrides:
  sass: { path: ../.. }
