name: sass_api
# Note: Every time we add a new Sass AST node, we need to bump the *major*
# version because it's a breaking change for anyone who's implementing the
# visitor interface(s).
version: 2.0.0
description: Additional APIs for Dart Sass.
homepage: https://github.com/sass/dart-sass

environment:
  sdk: ">=2.12.0 <3.0.0"

dependencies:
  sass: 1.53.0

dev_dependencies:
  dartdoc: ^5.0.0

dependency_overrides:
  sass: { path: ../.. }
