version: 2
updates:
  - package-ecosystem: "pub"
    directory: "/"
    schedule:
      interval: "weekly"
  - package-ecosystem: "github-actions"
    directories:
      - "/"
      - "/.github/util/*/"
    schedule:
      interval: "weekly"
  - package-ecosystem: "npm"
    directories:
      - "/"
      - "/package"
      - "/pkg/sass-parser"
    ignore:
      - dependency-name: "sass"
    schedule:
      interval: "weekly"
