.buildlog
.DS_Store
.idea
.pub/
.dart_tool/
.settings/
.sass-cache/
build/
packages
.packages
pubspec.lock
package-lock.json
/benchmark/source
node_modules/
dist/
/doc/api
/pkg/*/doc/api
/pkg/sass-parser/doc

# Generated protocol buffer files.
*.pb*.dart
