name: sass
version: 1.4.1-dev
description: A Sass implementation in Dart.
author: Dart Team <misc@dartlang.org>
homepage: https://github.com/sass/dart-sass

executables:
  dart-sass: sass

environment:
  sdk: '>=1.25.0-dev.7.0 <2.0.0'

dependencies:
  args: ">=1.4.0 <2.0.0"
  async: ">=1.10.0 <3.0.0"
  charcode: "^1.1.0"
  collection: "^1.8.0"
  convert: "^2.0.1"
  dart2_constant: "^1.0.0"
  meta: "^1.1.0"
  path: "^1.0.0"
  source_maps: "^0.10.5"
  source_span: "^1.4.0"
  string_scanner: ">=0.1.5 <2.0.0"
  stack_trace: ">=0.9.0 <2.0.0"
  tuple: "^1.0.0"
  package_resolver: ^1.0.0

dev_dependencies:
  archive: "^1.0.0"
  analyzer: ">=0.30.0 <0.32.0"
  crypto: ">=0.9.2 <3.0.0"
  dart_style: "^1.0.0"
  grinder: "^0.8.0"
  http: "^0.11.0"
  js: "^0.6.0"
  node_preamble: "^1.1.0"
  pub_semver: "^1.0.0"
  stream_channel: "^1.0.0"
  test_descriptor: "^1.0.0"
  test_process: "^1.0.0-rc.1"
  test: "^0.12.29"
  xml: ">=2.4.0 <4.0.0"
  yaml: "^2.0.0"
