name: sass
version: 1.74.0-dev # TODO: update the color-functions deprecation when this is updated
description: A Sass implementation in Dart.
homepage: https://github.com/sass/dart-sass

executables:
  dart-sass: sass
  sass: sass

environment:
  sdk: ">=3.0.0 <4.0.0"

dependencies:
  args: ^2.0.0
  async: ^2.5.0
  charcode: ^1.2.0
  cli_pkg: ^2.8.0
  cli_repl: ^0.2.1
  collection: ^1.16.0
  http: "^1.1.0"
  js: ^0.6.3
  meta: ^1.3.0
  native_synchronization: ^0.2.0
  node_interop: ^2.1.0
  package_config: ^2.0.0
  path: ^1.8.0
  pool: ^1.5.1
  protobuf: ">=2.0.0 <4.0.0"
  pub_semver: ^2.0.0
  source_maps: ^0.10.10
  source_span: ^1.10.0
  stack_trace: ^1.10.0
  stream_channel: ^2.1.0
  stream_transform: ^2.0.0
  string_scanner: ^1.1.0
  term_glyph: ^1.2.0
  typed_data: ^1.1.0
  watcher: ^1.0.0

dev_dependencies:
  analyzer: ">=5.13.0 <7.0.0"
  archive: ^3.1.2
  crypto: ^3.0.0
  dart_style: ^2.0.0
  dartdoc: ">=6.0.0 <9.0.0"
  grinder: ^0.9.0
  node_preamble: ^2.0.2
  lints: ">=2.0.0 <4.0.0"
  protoc_plugin: ">=20.0.0 <22.0.0"
  pub_api_client: ^2.1.1
  pubspec_parse: ^1.0.0
  test: ^1.16.7
  test_descriptor: ^2.0.0
  test_process: ^2.0.0
  yaml: ^3.1.0
  cli_util: ^0.4.0
