name: sass
version: 1.34.0
description: A Sass implementation in Dart.
author: Sass Team
homepage: https://github.com/sass/dart-sass

executables:
  dart-sass: sass
  sass: sass

environment:
  sdk: '>=2.12.0 <3.0.0'

dependencies:
  args: ^2.0.0
  async: ^2.5.0
  charcode: ^1.2.0
  cli_repl: ^0.2.1
  collection: ^1.15.0
  meta: ^1.3.0
  node_interop: ^2.0.0
  js: ^0.6.3
  package_config: ^2.0.0
  path: ^1.8.0
  source_maps: ^0.10.10
  source_span: ^1.8.1
  stack_trace: ^1.10.0
  stream_transform: ^2.0.0
  string_scanner: ^1.1.0
  term_glyph: ^1.2.0
  tuple: ^2.0.0
  watcher: ^1.0.0

dev_dependencies:
  archive: ^3.1.2
  analyzer: ^1.1.0
  cli_pkg: ^1.3.0
  crypto: ^3.0.0
  dart_style: ^2.0.0
  grinder: ^0.9.0
  node_preamble: ^2.0.0
  pedantic: ^1.11.0
  pub_semver: ^2.0.0
  stream_channel: ^2.1.0
  test_descriptor: ^2.0.0
  test_process: ^2.0.0
  test: ^1.16.7
  yaml: ^3.1.0
