name: Build for macos

on:
  workflow_call:
  workflow_dispatch:

jobs:
  build:
    name: Build

    runs-on: ${{ matrix.runner }}

    permissions:
      attestations: write
      id-token: write

    strategy:
      fail-fast: false
      matrix:
        include:
          - arch: x64
            runner: macos-15-intel
          - arch: arm64
            runner: macos-latest

    steps:
      - uses: actions/checkout@v6

      - uses: ./.github/util/initialize
        with: {github-token: "${{ github.token }}"}

      - name: Build
        run: dart run grinder pkg-standalone-macos-${{ matrix.arch }}

      - name: Generate artifact attestation
        if: github.ref_type == 'tag'
        uses: actions/attest-build-provenance@v3
        with:
          subject-path: build/*.tar.gz

      - name: Upload Artifact
        uses: actions/upload-artifact@v7
        with:
          name: build-macos-${{ matrix.arch }}
          path: build/*.tar.gz
          if-no-files-found: error
          compression-level: 0
