name: Build for linux-musl

on:
  workflow_call:
  workflow_dispatch:

jobs:
  build:
    name: Build

    runs-on: ${{ matrix.runner }}

    strategy:
      fail-fast: false
      matrix:
        include:
          - arch: x64
            runner: ubuntu-latest
            platform: linux/amd64
          - arch: ia32
            runner: ubuntu-latest
            platform: linux/amd64
          - arch: arm64
            runner: linux-arm64
            platform: linux/arm64
          - arch: arm
            runner: linux-arm64
            platform: linux/arm/v7
          - arch: riscv64
            runner: ubuntu-latest
            platform: linux/riscv64

    steps:
      - uses: actions/checkout@v4

      - name: Set up QEMU
        uses: ./.github/util/setup-qemu

      - name: Compile Protobuf
        run: |
          docker run --rm -i \
                     --volume "$PWD:$PWD" \
                     --workdir "$PWD" \
                     docker.io/library/dart <<'EOF'
          set -e
          curl -fsSL -H "Authorization: Bearer ${{ github.token }}" "https://github.com/bufbuild/buf/releases/latest/download/buf-$(uname -s)-$(uname -m).tar.gz" | tar -xzC /usr/local --strip-components 1
          dart pub get
          dart run grinder protobuf
          EOF

      - name: Build
        run: |
          docker run --rm -i \
                     --platform ${{ matrix.platform }} \
                     --volume "$PWD:$PWD" \
                     --workdir "$PWD" \
                     ghcr.io/dart-musl/dart <<'EOF'
          set -e
          dart pub get
          dart run grinder pkg-standalone-linux-${{ matrix.arch }}-musl
          EOF

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: build-linux-musl-${{ matrix.arch }}
          path: build/*.tar.gz
          if-no-files-found: error
          compression-level: 0
