name: Build for linux

on:
  workflow_call:
  workflow_dispatch:

jobs:
  build:
    name: Build

    runs-on: ${{ matrix.runner }}

    strategy:
      fail-fast: false
      matrix:
        include:
          - arch: x64
            runner: ubuntu-latest
            platform: linux/amd64
          - arch: ia32
            runner: ubuntu-latest
            platform: linux/amd64
          - arch: arm64
            runner: linux-arm64
            platform: linux/arm64
          - arch: arm
            runner: linux-arm64
            platform: linux/arm/v7
          - arch: riscv64
            runner: ubuntu-latest
            platform: linux/riscv64

    steps:
      - uses: actions/checkout@v4

      - name: Set up QEMU
        uses: ./.github/util/setup-qemu

      - name: Compile Protobuf
        run: |
          docker run --rm -i \
                     --volume "$PWD:$PWD" \
                     --workdir "$PWD" \
                     docker.io/library/dart <<'EOF'
          set -e
          curl -fsSL -H "Authorization: Bearer ${{ github.token }}" "https://github.com/bufbuild/buf/releases/latest/download/buf-$(uname -s)-$(uname -m).tar.gz" | tar -xzC /usr/local --strip-components 1
          dart pub get
          dart run grinder protobuf
          EOF

      - name: Build
        if: matrix.arch != 'riscv64'
        run: |
          docker run --rm -i \
            --platform ${{ matrix.platform }} \
            --volume "$PWD:$PWD" \
            --workdir "$PWD" \
          docker.io/library/dart:latest <<'EOF'
          set -e
          dart pub get
          dart run grinder pkg-standalone-linux-${{ matrix.arch }}
          EOF

      # https://github.com/dart-lang/dart-docker/issues/96#issuecomment-1669860829
      # There is no official riscv64 dart container image yet, build on debian:unstable instead.
      # The setup is adopted from: https://github.com/dart-lang/dart-docker/blob/main/Dockerfile-debian.template
      - name: Build riscv64
        if: matrix.arch == 'riscv64'
        run: |
          DART_CHANNEL=stable
          DART_VERSION=$(curl -fsSL https://storage.googleapis.com/dart-archive/channels/$DART_CHANNEL/release/latest/VERSION | yq .version)
          curl -fsSLO https://storage.googleapis.com/dart-archive/channels/$DART_CHANNEL/release/$DART_VERSION/sdk/dartsdk-linux-${{ matrix.arch }}-release.zip

          docker run --rm -i \
            --platform ${{ matrix.platform }} \
            --volume "$PWD:$PWD" \
            --workdir "$PWD" \
          docker.io/library/debian:unstable-slim <<'EOF'
          set -e
          apt-get update
          apt-get install -y --no-install-recommends ca-certificates curl dnsutils git openssh-client unzip

          export DART_SDK=/usr/lib/dart
          export PATH=$DART_SDK/bin:/root/.pub-cache/bin:$PATH

          SDK="dartsdk-linux-${{ matrix.arch }}-release.zip"
          unzip "$SDK" && mv dart-sdk "$DART_SDK" && rm "$SDK"

          dart pub get
          dart run grinder pkg-standalone-linux-${{ matrix.arch }}
          EOF

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: build-linux-${{ matrix.arch }}
          path: build/*.tar.gz
          if-no-files-found: error
          compression-level: 0
